/**
 * @name Adblock
 * @author Luyu
 * @description Hide all Nitro & Boost upsells on Discord!
 */

/* Chatbox buttons */
div[aria-label="Start an Activity"] { display: none; }
button[aria-label="Send a gift"] { display: none; }
button[aria-label="Open GIF picker"] { display: none; }
button[aria-label="Open sticker picker"] { display: none; }

/* Hide Nitro button in Home */
a[data-list-item-id$="___nitro"] { display: none; }

/* Join more than 100 servers upsell */
/* TODO also hide the button when it appears sometimes */
.tutorialContainer-11ICd5 + .listItem-2Ig28I > .listItemWrapper-2MsAsM { display: none; } 
.nitroUpsell-27TJ8P { display: none; } 

/* Hide Nitro separator in settings */
deiv[aria-label="User Settings"] > div[class^="separator"] { display: none; }
deiv[aria-label="User Settings"] > div[class^="separator"] ~  div[class^="separator"] { display: block; }

/* Hide Nitro tabs in Settings */
div[aria-label="User Settings"] > div[aria-label="Nitro"] { display: none; }
div[aria-label="User Settings"] > div[aria-label="Nitro"] + div { display: none; }
div[aria-label="User Settings"] > div[aria-label="Subscriptions"] { display: none; }
div[aria-label="User Settings"] > div[aria-label="Gift Inventory"] { display: none; }
div[aria-label="User Settings"] > div[aria-label="Gift Inventory"] + div[class^="item-"] { display: none; }

/* Hide Billing header and separator */
div[aria-label="User Settings"] > div[aria-label="Connections"] + div[class^="item-"] + div[class^="separator-"] + div[class^="header-"] { display: none; }
div[aria-label="User Settings"] > div[aria-label="Gift Inventory"] + div[class^="item-"] + div[class^="separator-"] { display: none; }

/* Hide profile customization upsells */
div[id="account-style-your-profile"] { display: none; }
button[class^="shinyButton"] { display: none; }
svg[class^="nitro"] { display: none; }
div[class^="bannerNitroUpsell"] { display: none; }
div[class^="optionBox"]:nth-of-type(2) { display: none; }
div[class^="premiumFeatureBorder"] { display: none; }
div[class*="upsellOverlayContainer-"] { display: none; }

/* Per server avatar */
/* TODO find a way to hide "Unlock Avatar"*/
div[class^="upsellContainer"] { display: none; }

/* Hide sticker picker */
button[id="sticker-picker-tab"] { display: none; }

/* Hide message size upsells */
div[class*=" upsell-"] { display: none; }

/* Hide Go Live quality upsells */
button[class*=" selectorButtonPremiumRequired-"] { display: none; }

/* Hide Nitro profile badge 
div[class^="clickable-"][aria-label^="Subscriber since"] { display: none; }*/

/* Hide ad in profile banners */
div[class^="premiumIconWrapper"] { display: none; }

/* Hide profile customization ad in banners */
div[class^="userPopoutInner-"] > div[class^="wrapper-"] { display: none; }

/* Hide ad in Activities menu */
div[class^="tierCtaContainer"] { display: none; }
div[class^="tierCtaContainer"] + div { display: none; }

/* Hide ad in emoji list */
div[class*=" premiumUpsell-"] { display: none; }
.emojiSection-3Fb9ix > .flex-1xMQg5 > .flex-1xMQg5 > .size14-e6ZScH { display: none; }

/* ------------- */
/* Server boosts */
/* ------------- */

/* Server dropdown */
div[class*=" colorPremium-"] { display: none; }
div[id="guild-header-popout"] > div > div[role="separator"] { display: none; }
div[id="guild-header-popout"] > div > div[role="separator"] ~ div[role="separator"] { display: block; }

/* Server settings */
/* TODO: fully hide Boost customization options */
div[class^="serverBoostTabItem"] { display: none; }
div[class^="serverBoostTabItem"] + div[class^="separator"] { display: none; }
div[aria-controls="stickers-tab"] { display: none; }
div[aria-controls="vanity_url-tab"] { display: none; }

/* Display settings in Overview */
div[id="overview-tab"] > div > div + div > div:last-child{ display: none; }

/* Thread archive times */
span[class*=" disabledOptionLabel-"] { display: none; }
div[class^="availabilityIndicator"] { display: none; }
.checkboxWrapperDisabled-36r8NK { display: none; }

/* Boosted server badge */
div[class^="guildIconContainer"] { display: none; }

/* Boost progress bar */
ul[aria-label="Channels"] > div + div + div[class^="container-"] { display: none; }

/* Server boost profile badge
div[class^="clickable-"][aria-label^="Server boosting"] { display: none; }*/

/* Boost in chat bar */
button[aria-label="Boost this server"] { display: none; }

/* Boost upsell when making an invite link */
div[class*="inviteBannerUpsell"] { display: none; }

/* --------------- */
/* Super reactions */
/* --------------- */

/* Initial upsell popup in "add reaction" window */
div[class*="burstReactionTabTooltip-"] { display: none; }

/* Super reactions button */
button[id="super-reaction-picker-tab"] { display: none; }

/* Super reaction animation */
div[class*="shakeReaction-"] { animation: none !important; }
div[class^="reactionInner-"] > div > div[class^="effectsWrapper-"] { display: none; }
img[class*="hideEmoji-"] { animation: blink-emoji 1s linear infinite; opacity: 255; }
@keyframes blink-emoji {  
  50% { opacity: 0; }
}

/* Add Super Reaction menu item */
#message-add-reaction-1 { display: none; }
div[aria-label="Add Super Reaction"] { display: none; }

/*[class*="colorPremiumGradient-"], [id^="message-actions-add-reaction-1"],
[aria-label="Add Super Reaction"] { display:none; }*/

/* Avatar decorations upsell popup */
div[class*="contentPremium-"] { display: none; }

/* ------------------ */
/* General annoyances */
/* ------------------ */

/* Avatar decorations */
img[class^="avatarDecoration-"] { display: none; }
svg[class^="avatarDecoration-"] { display: none; }
svg[class^="bannerSVGWrapper-"] > mask { display: none; }

/* Remove Birthday button in home */
a[href="/activities"] { display: none; }

/* Bugfix laggy server scroll */
div[data-dnd-name] > div[class^="wrapper"] svg { overflow: hidden; }

/* Hide Help button */
div[aria-label="Help"] { display: none; }

/* Hide explore servers button */
div[aria-label="Servers"] + div + div { display: none; }

/* Hide HUMONGOUS shadow thing in profile popup */
div[id^="popout_"] { width: fit-content; }
